h1 {
  color: gold;
}

h3 {
  color: teal;
}

p {
  background-color: lemonchiffon;
}

.banner {
  width: 350px;
  height: 300px;
}

.action {
  width: 100px;
  height: 80px;
  font-size: x-large;
  font-weight: 800;
  background-color: peachpuff;
}

.action > a {
  color: slateblue;
  text-decoration: none;
}
